<a href="https://colab.research.google.com/github/parment1/Project-M1-M2/blob/main/Module_1_%26_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [23]:
import pandas as pd
import os
import numpy as np
import requests
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats

pd.set_option('display.max_rows',300)

Part I : Data acquisition, formating and cleaning

**PART I project: Data acquisition, formating and cleaning**

Dataset 1: Download the time series available on NASDAQ website for the Nasdaq Composite index, max history 2011
https://www.nasdaq.com/market-activity/index/ndx/historical

Dataset 2:

-**GDP**:  We use GGP in percent change from preceding Period, Quarterly, Seasonally Adjusted Annual Rate: Source: https://fred.stlouisfed.org/tags/series?t=quarterly

-**CPI** (consumer price inflation): Consumer Price Index: Growth Rate Same Period Previous Year, Quarterly, Not Seasonally Adjusted. Source: https://fred.stlouisfed.org/tags/series?t=quarterly

-**US Interest rates**: Effective Federal Funds Rate, Percent, Monthly, Not Seasonally Adjusted. Source: https://fred.stlouisfed.org/series/FEDFUNDS

-**US Unemployment rate** Unemployment Rate, Percent, Monthly, Seasonally Adjusted. Source: https://fred.stlouisfed.org/series/UNRATE

**Problem**: Do we see a relationship between the stock market and macroeconomic variables

In [24]:
#Open each xls/csv
Nasdaq = pd.read_excel('/content/Nasdaq composite index.xlsx')
#CPI = Consumer price index
CPI = pd.read_excel('/content/Consumer price index.xls')
#Interest_rate = fed fund rate
Interest_rate = pd.read_excel('/content/Fed fund.xls')
GDP = pd.read_excel('/content/GDP.xls')
Unemployment = pd.read_excel('/content/Unemployment.xls')

Explore the strucutre of the different datasets. They all have different shape.

In [25]:
#check size of each dataset
print([Nasdaq.shape,CPI.shape,Interest_rate.shape,GDP.shape,Unemployment.shape])

[(2557, 6), (246, 2), (806, 2), (297, 2), (884, 2)]

In [28]:
#Align the column name for all data set
Nasdaq = Nasdaq.rename(columns={'Date': 'observation_date'})

#Select columns Date & Close/Last date from Nasdaq dataset
Nasdaq = Nasdaq[['observation_date','Close/Last']]
display(Nasdaq.head(5))

  observation_date  Close/Last
0       2021-09-10    15440.75
1       2021-09-09    15561.05
2       2021-09-08    15620.85
3       2021-09-07    15675.76
4       2021-09-03    15652.86